body{
    font-family: "Georgia, Times, Times New Roman, serif";

}
header{
    background-color: #293844;
    padding-top:100px;
    width: 100%;
    color: white;
}
#skills{
    background-color: #fff1dd;
    padding-top: 100px;
    width: 100%;
}
#portfolio{
    background-color: #404640;
    width: 100%;
    padding-top: 100px;

}
#contact, #resume{
    background-color: #d8aeae;
    width: 100%;  
    padding-top: 100px;
  
}
.img-fluid{
    max-width: 200px;
    max-height: 200px;
}
.holder{
    float: left;
    position:relative;
    right: -15%;
}
#portfolio-images{
    margin: auto;
}
.portfolio-caption{
    background:#293844;
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    text-align: center;
    color: white;
    opacity: .9;
}
a.project-name{
    color:white;
}
