body{
    font-family: "Georgia, Times, Times New Roman, serif";
    /* position: absolute;
    top: 0;
    right: 0;
    left: 0;
    background-image: url("../Images/background.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%; */
}
header{
    background-color: #293844;
    background-size: cover;
    color: white;
}
#skills{
    background-color: #fff1dd;
    background-size: cover;
}
#portfolio{
    background-color: #404640;
    background-size: cover;
}
#contact, #resume{
    background-color: #d8aeae;
    background-size: cover;
}
.img-fluid{
    max-width: 200px;
    max-height: 200px;
}
.holder{
    float: left;
    position:relative;
    right: -15%;
}
#portfolio-images{
    margin: auto;
}
.portfolio-caption{
    background:#293844;
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    text-align: center;
    color: white;
    opacity: .9;
}
a.project-name{
    color:white;
}
